<div id="container" class="yes">
    <p id="answer">
        <strong id="bones"><%= @bones %></strong>
    </p>
</div>
<p id="answer">
<!-- <%= image_tag(@noodle, :alt => "Picture of Noodle with #{@bones}") %> -->
</p>
